# database and backend
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
UNIGATE_DB=
AUTH_DB=


# database viewer
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=

# backend
MODE=
JWT_SECRET=
SENDGRID_API_KEY=

# scripts/burndown
GITHUB_TOKEN=

# docker
BACKEND_PORT=
